* {
  box-sizing: border-box;
}

body {
    font-family: Consolas, monospace;
    background-color: #2e3436;
    color: white;
}

.game {
  text-align: center;
}

.game.game-over .cell {
  opacity: 0.25;
}

.game.game-over .board.disable-cells .cell.winning {
  opacity: 1;
}

.error {
  padding: 10px;
  background-color: #eeeeec;
  color: #cc0000;
  font-weight: bold;
}

.board {
    margin: 20px auto;
}

.quadrants-row, .quadrant-row {
  display: flex;
}

.quadrants-row {
  justify-content: center;
}

.quadrant {
  position: relative;
  margin: 5px;
}

.quadrant .arrow svg {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 64px;
  display: none;
  fill: #eeeeec;
}

.quadrant .arrow svg:hover path {
  fill: #fce94f;
}

.quadrant.selected .arrow svg {
  display: block;
}

.quadrant .arrow svg:hover {
  cursor: pointer;
}

.quadrant .arrow.clockwise svg {
  right: 0;
}

.quadrant .arrow.counter-clockwise svg {
  left: 0;
}

.board.enable-quadrants .quadrant .cell {
  opacity: 0.4;
}

.board.enable-quadrants .quadrant.selected .cell {
  opacity: 1;
}

.board.enable-quadrants .quadrant:hover .cell {
  opacity: 1;
}

.board.enable-quadrants .quadrant:hover {
  cursor: pointer;
}

.board.enable-quadrants .quadrant:hover .cell:hover {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
    width: 64px;
    height: 64px;
    margin: 2px;
    border-radius: 5%;
}

.cell > img {
  max-width: 60%;
  vertical-align: bottom;
}

.cell.empty {
  border: 1px solid #888a85;
}

.cell.player-1 {
    background-color: #cc0000;
}

.cell.player-2 {
    background-color: #3465a4;
}

.cell.empty {
  background-color: transparent;
}

.cell.empty:hover {
  cursor: pointer;
  opacity: 0.5;
  box-shadow: 0 0 0 2px #eeeeec;
}

.board.disable-cells .cell.empty:hover {
  opacity: 1;
  box-shadow: none;
}

.cell.empty.player-1:hover {
  background-color: #cc0000;
}

.cell.empty.player-2:hover {
  background-color: #3465a4;
}

.board.disable-cells .cell.empty:hover {
  background-color: inherit;
}

.cell.last-move {
    box-shadow: 0 0 0 2px #eeeeec;
}