* {
  box-sizing: border-box;
}

body {
    font-family: Consolas, monospace;
    background-color: #2e3436;
    color: white;
}

.game {
  text-align: center;
}

.error {
  padding: 10px;
  background-color: #eeeeec;
  color: #cc0000;
  font-weight: bold;
}

.board {
    margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
    width: 64px;
    height: 64px;
    /*border: 1px solid #888a85;*/
    margin: 2px;
    border-radius: 5%;
}

.cell > img {
  max-width: 60%;
  vertical-align: bottom;
}

.cell.empty {
  border: 1px solid #888a85;
}

.cell.player-1 {
    background-color: #cc0000;
}

.cell.player-2 {
    background-color: #3465a4;
}

.cell.empty {
  background-color: transparent;
}

.cell.empty:hover {
  cursor: pointer;
  opacity: 0.5;
  box-shadow: 0 0 0 2px #eeeeec;
}

.cell.empty.player-1:hover {
  background-color: #cc0000;
}

.cell.empty.player-2:hover {
  background-color: #3465a4;
}

.cell.quadrant-border-bottom {
    /*box-shadow: 0 3px 4px #d3d7cf;*/
    margin-bottom: 8px;
}


.cell.quadrant-border-right {
    /*box-shadow: 3px 0 4px #d3d7cf;*/
    margin-right: 8px;
}

.cell.quadrant-border-left {
  /*box-shadow: -3px 0 4px #d3d7cf;*/
  margin-left: 8px;
}

.cell.quadrant-border-top {
  /*box-shadow: 0 -3px 4px #d3d7cf;*/
  margin-top: 8px;
}

.cell.quadrant-border-bottom.cell.quadrant-border-right {
    /*box-shadow: 3px 3px 4px #d3d7cf;*/
}

.cell.quadrant-border-bottom.cell.quadrant-border-left {
    /*box-shadow: -3px 3px 4px #d3d7cf;*/
}

.cell.quadrant-border-top.cell.quadrant-border-left {
    /*box-shadow: -3px -3px 4px #d3d7cf;*/
}

.cell.quadrant-border-top.cell.quadrant-border-right {
    /*box-shadow: 3px -3px 4px #d3d7cf;*/
}

.cell.last-move {
    box-shadow: 0 0 0 2px #eeeeec;
}