* {
  box-sizing: border-box;
}

body {
    font-family: Consolas, monospace;
    background-color: #2e3436;
    color: white;
}

.game {
  display: flex;
  justify-content: center;
  text-align: center;
}

.game.game-over .cell {
  opacity: 0.25;
}

.game.game-over .board.disable-cells .cell.winning {
  opacity: 1;
}

.game .controls .buttons {
  display: flex;
  flex-direction: column;
}

button.btn {
  display: block;
  padding: 5px 10px;
  background: none;
  margin: 10px;
  color: white;
  font-family: inherit;
  font-size: 12pt;
  border-radius: 4px;
  background-color: #2e3436;
}

button.btn:hover {
  cursor: pointer;
  filter: invert(100%);
}

.error {
  padding: 10px;
  background-color: #eeeeec;
  color: #cc0000;
  font-weight: bold;
}

.quadrants-row, .quadrant-row {
  display: flex;
}

.quadrants-row {
  justify-content: center;
}

.quadrant {
  position: relative;
  margin: 5px;
}

.quadrant .arrow svg {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 64px;
  display: none;
  fill: #eeeeec;
  stroke-width: 10px;
  stroke: #eeeeec;
  opacity: 0.75;
}

.quadrant .arrow.clockwise.computed svg, .quadrant .arrow.clockwise.last-rotation svg  {
  right: 20%;
}

.quadrant .arrow.counter-clockwise.computed svg, .quadrant .arrow.counter-clockwise.last-rotation svg {
  left: 20%;
}

.quadrant.selected .arrow svg, .quadrant .arrow.computed svg, .quadrant .arrow.last-rotation svg {
  display: block;
}

.quadrant .arrow svg:hover {
  opacity: 1;
}

.quadrant .arrow.computed.player-1 svg {
  opacity: 1;
  fill: #cc0000;
}

.quadrant .arrow.last-rotation.player-1 svg, .quadrant .arrow.last-rotation.player-1 svg:hover {
  opacity: 1;
  fill: #3465a4;
}

.quadrant .arrow.computed.player-2 svg {
  opacity: 1;
  fill: #3465a4;
}

.quadrant .arrow.last-rotation.player-2 svg, .quadrant .arrow.last-rotation.player-2 svg:hover {
  opacity: 1;
  fill: #cc0000;
}

.quadrant .arrow.player-1 svg:hover {
  fill: #cc0000;
}

.quadrant .arrow.player-2 svg:hover {
  fill: #3465a4;
}

.quadrant .arrow svg:hover {
  cursor: pointer;
}

.quadrant .arrow.clockwise svg {
  right: 0;
}

.quadrant .arrow.counter-clockwise svg {
  left: 0;
}

.cell.empty.computed.player-2 {
  border: 4px solid #3465a4;
}

.board.enable-quadrants .quadrant .cell {
  opacity: 0.6;
}

.board.enable-quadrants .quadrant.selected .cell {
  opacity: 1;
}

.board.enable-quadrants .quadrant:hover .cell {
  opacity: 1;
}

.board.enable-quadrants .quadrant:hover {
  cursor: pointer;
}

.board.enable-quadrants .quadrant:hover .cell:hover {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
    width: 64px;
    height: 64px;
    margin: 2px;
    border-radius: 5%;
}

.cell > img {
  max-width: 60%;
  vertical-align: bottom;
}

.cell.empty {
  border: 1px solid #888a85;
}

.cell.player-1 {
  background-color: #cc0000;
}

.cell.player-2 {
    background-color: #3465a4;
}

.cell.empty {
  background-color: transparent;
}

.cell.empty.computed.player-1 {
  border: 4px solid #cc0000;
}

.cell.empty.computed.player-2 {
  border: 4px solid #3465a4;
}

.cell.empty:hover {
  cursor: pointer;
  opacity: 0.5;
  box-shadow: 0 0 0 2px #eeeeec;
}

.board.disable-cells .cell.empty:hover {
  opacity: 1;
  box-shadow: none;
}

.cell.empty.player-1:hover {
  background-color: #cc0000;
}

.cell.empty.player-2:hover {
  background-color: #3465a4;
}

.board.disable-cells .cell.empty:hover {
  background-color: inherit;
}

.cell.last-move {
    box-shadow: 0 0 0 2px #eeeeec;
}